exports.redisIP= Your redis IP;
exports.redisPort=Your redis Port;
exports.mongoIP=Your Mongo IP;
exports.mongoPort=Your Mongo Port;
exports.sigURL=Your signalling server URL (Local machine IP in this case);
exports.stunURL=Your STUN URL;
exports.thirdpartystunURL='stun.l.google.com:19302';
exports.turnURL=YOUR TURN URL;
exports.turnUsername='TURN Username;
exports.turnCredential=TURN Password;
exports.thirdpartyturnURL='turn.bistri.com:80';
exports.thirdpartyturnUsername=homeo;
exports.thirdpartyturnCredential='homeo';
exports.devAudioVideomins=1;
exports.devDatamins=2;
exports.psql_ip=Your PSQL IP 
exports.psql_db=Your PSQL DB Name
exports.psql_username=Your PSQL Username
exports.psql_passsword=Your PSQL Password