Skip to content
This repository
Search
Pull requests
Issues
Gist
 @murugan-pandian
 Unwatch 10
  Star 0
 Fork 1 W5RTC/Website PRIVATE
 Code  Issues 6  Pull requests 0  Wiki  Pulse  Graphs  Settings
Branch: master Find file Copy pathWebsite/Global/w5rtc/demo/cssUnMinify/getMediaElement.css
f881041  on Nov 20, 2015
@jMahapatra jMahapatra adding minify files with separate folders
1 contributor
RawBlameHistory     245 lines (211 sloc)  5.97 KB


.media-container, .media-container * {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.media-container, .media-container * {
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.media-container {
background: top center no-repeat;
margin-top:0px;	
}
.media-container1, .media-container1 * {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.media-container1, .media-container1 * {
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.media-container1 {
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    overflow: hidden;
    vertical-align: top;
    background: white;
}

.media-box {
	
    /*background:#FFF;
    border: 1px solid rgb(107, 107, 107);
    margin: 1px;*/
}

.media-controls, .volume-control {
    margin-top: 2px;
    position: absolute;
    margin-left: 5px;
    z-index: 100;
    opacity: 0;
}

.media-controls .control, .volume-control .control {
    width: 35px;
    height: 35px;
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    /*background-color: rgba(255, 255, 255, 0.84);*/
}

.media-controls .control:first-child {
    border-bottom-left-radius: 5px;
}

.volume-control .control:first-child {
    border-top-left-radius: 5px;
}

.media-controls .control:hover, .media-controls .selected, .volume-control .control:hover {
   /* background-color: rgba(255, 255, 255, 0.74);*/
   cursor:pointer;
}

.media-controls .control:active, .media-container .selected, .volume-control .control:active {
   /* background-color: rgba(255, 255, 255, 0.44)!important;*/
   cursor:pointer;
}

.mute-audio {
    /*background-image: url(image/audiodiv.png);*/
	background-image:url(../image/audiovloume.png);
	}
.unmute-audio {
    background-image:url(../image/muteaudiovloume.png);
}
.big-video .mute-audio{
	 background-image:url(../image/a111.png);
	 margin-right:10px;
}
.big-video .unmute-audio{
	 background-image:url(../image/a1disabled11.png);
	 margin-right:10px;
}
.big-video .mute-video{
	 background-image:url(../image/v111.png);
	 margin-right:20px;
}
.big-video .unmute-video{
	 background-image:url(../image/v1disabled111.png);
	 margin-right:20px;
}
.big-video .stop {
    background-image:url(../image/222.png);
}
.small-video  .mute-audio{
	 background-image:url(../image/a11.png);
}
 
.small-video .unmute-audio{
	 background-image:url(../image/a1disabled11.png);
}
.small-video .mute-video{
	 background-image:url(../image/v1s.png);
}
.small-video .unmute-video{
	 background-image:url(../image/v1disableds.png);
}
.small-video .stop {
    background-image:url(../image/2s.png);
}


.mute-video {
    background-image: url(../image/videocam1.png);
}

.unmute-video {
    background-image: url(../image/videocamnone.png); 
}

.record-audio {
    background-image: url(../image/recordbtn.png);
}

.record-video {
    background-image: url(../image/recordbtn.png);
}

.stop-recording-audio {
    background-image: url(../image/recordbtn1.png);
}

.stop-recording-video {
    background-image: url(../image/recordbtn1.png);
}

.stop {
    background-image:url(../image/closebtn.png);
}

/*.take-snapshot {
    background-image: url(../image/snapshot.png);
}
*/-->
.zoom-in {
    /*background-image: url(image/maximizevideo.png);*/
}

.zoom-out {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAglJREFUWEftV8lqAkEQzYd4EuK47ytueHA5OPgFjoIHEVzwYOIl4NWf8JKDl/xXPqPSr+nSUceZEYfEgA8Kpal686yqqWpf/gWCwSAlEgmKxWK02+3e1LEl4BsOh6W/OrofmqZRKpUiXdepXq9/qGNLpNNpgmWzWRoMBpo6vg+RSIS63a4krVQqtgKSySRlMhlvBdRqNcrn85K0XC7/vgCQ5nI5mVqnEsAX5YKAfr/vjQA0Hwjxy9wI4B7wTABn4BYB8C+VSu4FiDrrSB0eIuosDWR4nXAGUjcCuFnhz0IQZzbRyJev6Hg8lrUrFAqEpuNaMhEHu3kNO52O9OVYsyAYZoVyPwIC0OmNRkMGczbMRG4EcAO2Wq1DDMezRaPRSwGr1cq32WxoOp3SbDaztPl87jjdDMP4WiwWtFwuEfN9zgETz/pU7k888cQDYb1e+8SEMuwsFAoZyv0qxCS1jDVbr9e75JlMJofJd82wF5zuAzz97AwXHOV+BEaxlTOPT/5erVZtBZzHmj/ZLEex2ANyG55bPB4/IXCzjhGHfcCrGXFmzmKx6DjST4DUM5FbAfAX5fLmQoKa3ZIB+CEDYjE9BXgjQLy7khR1bbfbtgLQL7jYwH84HHojIBAIHDq72Ww6ZgB+EDAajbwR4Pf7pQCQbrfbd3VsCfwv5Gzt9/tXdfzAIKI/NHr5AU4kDfWD0WSsAAAAAElFTkSuQmCC');
}

.media-box video {
    width: 100%;
    vertical-align: top;
}

.media-box audio {
    height: 5em;
}

.volume-control .volume-slider, .media-controls .volume-slider {
    width: auto;
    background: rgba(255, 255, 255, 0.09)!important;
    /*border: 1px solid white;*/
    height: 33px;
}

.volume-control .volume-slider input[type=range] , .media-controls .volume-slider  input[type=range] {
    margin-top: 9px;
    height: 15px;
    outline: none;
}

input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-color: rgb(83, 77, 77);
    width: 200px;
    height: 20px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-color: black;
    opacity: 0.5;
    width: 10px;
    height: 26px;
}
#roomid{
	width:600px;
	height:30px;
	border:solid 1px;
	border-color:#666;
	border-style:solid;
}
#messages-box div {
    outline: none;
    border: 1px solid black;
    border-top: 0;
}

#messages-box .name {
    padding: .4em .8em;
    display: inline-block;
    width: 150px;
    border-right: 3px solid black;
    margin-right: 10px;
    text-align: right;
    background-color: rgb(241, 241, 241);
    border-bottom: 1px solid black;
}

#messages-box .message {
    padding: .4em .8em;
    display: inline-block;
}
Status API Training Shop Blog About
© 2016 GitHub, Inc. Terms Privacy Security Contact Help