<html>
	<head><title>w5capi Demo</title>
    <link href="css/w5rtc.css" rel="stylesheet" type="text/css" />
    </head>
<body>  
<div style="width:100%;text-align:center;margin-left:0 auto;margin-right:0 auto">  
               
<div class="large-4" style="text-align:center;display: table;margin: 0 auto;">
    <div class="totalaligndiv large-12">
        <div class="tpaddingdiv3">
            <div class="bpaddingdiv2">
                <div class="leftbgcolordiv borderradiusdivbottomright4">
                    <div class="leftsidebgshadow">
                        <div class="trblbpaddingdiv3">
                            <div class="tbpaddingdiv2">
                                <div class="totalaligndiv">
                                    <div class="voicebgdiv retrangleboxrotate iconlineheight fl positionabsolute voicezindex">
                                        <div class="voicetpaddingdiv"><img src="image/videoicon/voice.png" border="0" /></div>
                                    </div>
                                    <div class="fl lpaddingdiv9 fontssizediv7 colorwhite headdingfonts3">
                                        <div class="tpaddingdiv1"><a href="/audio" onClick="openCapiPopup(this.href,'myWindow','565','550','yes');return false" class="textdecorationnone cursorpointerdiv">Audio</a></div>
                                    </div>
                                    <div class="fl lpaddingdiv1">
                                       <div class="fontssizediv10 lineheight1 colorwhite headdingfonts3 textalignleftdiv positionabsolute leftsidedivnewone textalignleftdiv">Click<br />buttons to<br />communicate
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                
                                <div class="voicetpaddingdiv1">
                                    <div class="videobgdiv retrangleboxrotate iconlineheight fl positionabsolute voicezindex1">
                                        <div class="voicetpaddingdiv"><img src="image/videoicon/video.png" border="0" /></div>
                                    </div>
                                    <div class="fl lpaddingdiv9 fontssizediv7 colorwhite headdingfonts3">
                                        <div class="tpaddingdiv1"><a href="/video" onClick="openCapiPopup(this.href,'myWindow','565','550','yes');return false" class="textdecorationnone cursorpointerdiv">Video</a></div>
                                    </div>
                                    <div class="fl lpaddingdiv1">&nbsp;</div>
                                    <div class="clear"></div>
                                </div>
                                
                                <div class="voicetpaddingdiv2">
                                    <div class="chatbgdiv retrangleboxrotate iconlineheight fl positionabsolute voicezindex2">
                                        <div class="voicetpaddingdiv"><img src="image/videoicon/chat.png" border="0" /></div>
                                    </div>
                                    <div class="fl lpaddingdiv9 fontssizediv7 colorwhite headdingfonts3">
                                        <div class="tpaddingdiv1"><a href="/chat" onClick="openCapiPopup(this.href,'myWindow','565','550','yes');return false" class="textdecorationnone cursorpointerdiv">Chat</a></div>
                                    </div>
                                    <div class="fl lpaddingdiv1">
                                        &nbsp;
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                
                                <div class="voicetpaddingdiv2">
                                    <div class="filetransbgdiv retrangleboxrotate iconlineheight fl positionabsolute voicezindex3">
                                        <div class="voicetpaddingdiv"><img src="image/videoicon/filetransfer.png" border="0" /></div>
                                    </div>
                                    <div class="fl lpaddingdiv9 fontssizediv7 colorwhite headdingfonts3">
                                        <div class="tpaddingdiv1"><a href="/file" onClick="openCapiPopup(this.href,'myWindow','565','550','yes');return false" class="textdecorationnone cursorpointerdiv">File Transfer</a></div>
                                    </div>
                                    <div class="fl lpaddingdiv1">&nbsp;</div>
                                    <div class="clear"></div>
                                </div>
                                
                                <div class="voicetpaddingdiv2">
                                    <div class="screenbgdiv retrangleboxrotate iconlineheight fl positionabsolute voicezindex4">
                                        <div class="voicetpaddingdiv"><img src="image/videoicon/screensharing.png" border="0" /></div>
                                    </div>
                                    <div class="fl lpaddingdiv9 fontssizediv7 colorwhite headdingfonts3">
                                        <div class="tpaddingdiv1"><a href="/screen" onClick="openCapiPopup(this.href,'myWindow','565','550','yes');return false" class="textdecorationnone cursorpointerdiv">Screen Sharing</a></div>
                                    </div>
                                    <div class="fl lpaddingdiv1">
                                        &nbsp;
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="voicetpaddingdiv2">
                                    <div class="screenbgdiv retrangleboxrotate iconlineheight fl positionabsolute voicezindex4">
                                        <div class="voicetpaddingdiv"><img src="image/videoicon/voice.png" border="0" /></div>
                                    </div>
                                    <div class="fl lpaddingdiv9 fontssizediv7 colorwhite headdingfonts3">
                                        <div class="tpaddingdiv1"><a href="/pstn" onClick="openCapiPopup(this.href,'myWindow','565','550','yes');return false" class="textdecorationnone cursorpointerdiv">PSTN Call</a></div>
                                    </div>
                                    <div class="fl lpaddingdiv1">
                                        &nbsp;
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                
                            </div>
                            
                            <div class="fottertextalignrightdiv fontssizediv12 lineheight2 colorwhite headdingfonts tpaddingdiv2">
                                <div class="textalignrightdiv"><b>w5capi</b> TRY IT !</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
          
            
        </div>
        
        
    </div>
</div>
              
 </div>  
<script>
var popupWindow;
function openCapiPopup(url,winName,w,h,scroll){
	try{
		popupWindow.close();	
	}catch(e){
		
	}
	LeftPosition = (screen.width) ? (screen.width-w)/2 : 0;
	TopPosition = (screen.height) ? (screen.height-h)/2 : 0;
	settings ='height='+h+',width='+w+',top='+TopPosition+',left='+LeftPosition+',scrollbars='+scroll+',resizable'
	popupWindow = window.open(url,winName,settings)	
}

function voicewindow(url,winName,w,h,scroll){
	LeftPosition = (screen.width) ? (screen.width-w)/2 : 0;
	TopPosition = (screen.height) ? (screen.height-h)/2 : 0;
	settings ='height='+h+',width='+w+',top='+TopPosition+',left='+LeftPosition+',scrollbars='+scroll+',resizable'
	popupWindow = window.open(url,winName,settings)
}


function videowindow(url,winName,w,h,scroll){
	LeftPosition = (screen.width) ? (screen.width-w)/2 : 0;
	TopPosition = (screen.height) ? (screen.height-h)/2 : 0;
	settings ='height='+h+',width='+w+',top='+TopPosition+',left='+LeftPosition+',scrollbars='+scroll+',resizable'
	popupWindow = window.open(url,winName,settings)
}


function chatwindow(url,winName,w,h,scroll){
	LeftPosition = (screen.width) ? (screen.width-w)/2 : 0;
	TopPosition = (screen.height) ? (screen.height-h)/2 : 0;
	settings ='height='+h+',width='+w+',top='+TopPosition+',left='+LeftPosition+',scrollbars='+scroll+',resizable'
	popupWindow = window.open(url,winName,settings)
}

function filetransferwindow(url,winName,w,h,scroll){
	LeftPosition = (screen.width) ? (screen.width-w)/2 : 0;
	TopPosition = (screen.height) ? (screen.height-h)/2 : 0;
	settings =
	'height='+h+',width='+w+',top='+TopPosition+',left='+LeftPosition+',scrollbars='+scroll+',resizable'
	popupWindow = window.open(url,winName,settings)
}

function screensharingwindow(url,winName,w,h,scroll){
	LeftPosition = (screen.width) ? (screen.width-w)/2 : 0;
	TopPosition = (screen.height) ? (screen.height-h)/2 : 0;
	settings =	'height='+h+',width='+w+',top='+TopPosition+',left='+LeftPosition+',scrollbars='+scroll+',resizable'
	popupWindow = window.open(url,winName,settings)
}
</script>

</body>
</html>