<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>...::Welcome to W5rtc::...</title>
	<link href="image/favicon.png" rel="shortcut icon" type="image/x-icon" />
	<link href="css/w5rtc.css" rel="stylesheet" type="text/css" />
	<link href="css/buttons.css" rel="stylesheet" type="text/css" />
	<link href="css/getMediaElement.css" rel="stylesheet" type="text/css" />
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="js/license.js"></script>
   	<script type="text/javascript" src="js/dynamicstyle.js"></script>
	<script type="text/javascript" src="js/showdivallpages.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.1.1/ZeroClipboard.Core.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.1.1/ZeroClipboard.min.js"></script>
         <script src='js/jquery.noty.packaged.min.js'></script>
    <script src="js/demo-traditional.js"></script>
    <script src="js/fix.js"></script>
	<script>
	
	function emailvalidate()
	{
		var email = document.getElementById('user_search');
    var filter = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
	if(email.value=="")
	{
		var n = noty({
            text        : 'Enter  one valid Email Address',       
            type        : 'information',
            dismissQueue: true,
            layout      : 'topCenter',
            theme       : 'defaultTheme',
				buttons     : [{addClass: 'btn btn-primary', text: 'Ok', 
							onClick: function ($noty) {
                    $noty.close();
                }
				}]
        });
	}
   else if (!filter.test(email.value)) {
     var n = noty({
            text        : 'Enter only one valid Email Address',       
            type            : 'information',
            dismissQueue: true,
            layout      : 'topCenter',
            theme       : 'defaultTheme',
				buttons     : [{addClass: 'btn btn-primary', text: 'Ok', 
							onClick: function ($noty) {
                    $noty.close();
                }
				}]
        });
    email.focus;
    return false;
 }
		else{
	var link = 'mailto:'+document.getElementById("user_search").value+'?subject=W5RTC Invitation For Video Call '
             +'&body=Copy and Paste the provided Link in your Browser to Test:'+ escape(document.getElementById('user_name2').value);	 
    window.location.href = link;
  }
  document.getElementById('starttalkdtndiv').style.display='block';
	}
	</script>
	<script>
		function copysend(){
			if(document.getElementById('user_name2').value==""){
				document.getElementById('copyid').disabled='true';
				document.getElementById('starttalkdtndiv').style.display='none';
			}	
			else{
				document.getElementById('copyid').disabled='false';
				document.getElementById('starttalkdtndiv').style.display='block';
			}
		}
	</script>
</head>

<body>
<div class="boxchatwindowdiv">
    <div class="allsidepadding">
    	<div class="large-12 marginautodiv">
    	<!--<span class="textalignrightdiv positionabsolute rightsidediv" style="margin:5px 5px 0px 0px"><a href="JavaScript:window.close()"><input type="button" class="btncloseicon" name="boxclosechat" id="boxclosechat" value=" " /></a></span>-->
     
<!--1st_video_div--> 
	<div class="bgcolorwhite" style="height:465px; padding:10px;" id="videofirst">
        <div class="allpaddingdivlogotop bgcolorwhite borderradiusdivtop2">
            <div class="tbpaddingdiv1 textaligncenterdiv">
                <img src="image/w5biglogo.png" border="0" name="w5desi" class="positionabsolute leftsidedivfiftyone">
            </div>
        </div>
        <div class="bgcolorlightsblue borderradiusdiv2">
            <div class="lrtbpaddingdiv1 bottomchatborder colorwhite">
                <div class="fl tbpaddingdiv2">
                    <div class="rpaddingdiv1 fl">
                        <img src="image/popupicon/video.png" border="0" name="chaticon" />
                    </div>
                    <div class="fl fontssizediv9 headdingfonts tpaddingdiv1">
                        Video 
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        
            <div class="totalaligndiv tblrpaddingdiv1">
                <div class="tbpaddingdiv1">
                    <div class="bpaddingdiv2 textaligncenterdiv">
                    	<div class="chatwindowleft fl">
                        <input id="user_search" class="login_searchdivnew popuplogin" type="text" tabindex="5" placeholder="Type participants email id" name="user[search]" style="color:#FFF; padding:7px 9px;">
                        </div>
                        <div class="chatwindowname fl" id="invite">
                        <input class="buttonbluedivnew1 submit large-12" type="button" value="Invite" name="submit" style="height:36px;" onclick="emailvalidate()" title="Invite Your Friend">
                        </div>
                        <div class="clear"></div>
                    </div>
                    
                    <div class="bpaddingdiv1 textaligncenterdiv fontssizediv9 fontweightbolddiv headdingfonts colorwhite">
                    ------ or ------
                    </div>
                    <div class="bpaddingdiv1 textaligncenterdiv headdingfonts colorwhite">
                  Copy & Send URL to your Friend
                    </div>
                    <div class="tbpaddingdiv1">
                    <div class="chatwindowleft fl">
                    <input id="user_name2" class="input-text text inputtextboxsizenew popuplogin borderradiusnone" type="text" tabindex="5" name="user[name]" style="background-color:transparent; color:#fff; padding:7px 9px; border-color:#575C5F; border-radius:0px; font-size:14px;">
                    </div>
                    
                    <div class="chatwindowname fl" id="copyid">
                    <input class="buttonbluedivnew1 submit large-12" type="button" value="Copy & Send" name="submit" style="height:36px;"  id="d_clip_button" data-clipboard-target="user_name2" data-clipboard-text="Default clipboard text from attribute" title="Click here to Copy the URL" onclick="copysend()"/>
                    </div>
                    <div class="tpaddingdiv2 textaligncenterdiv" id="starttalkdtndiv" style="display:none;">
                    <a class="btn signinbtndivone" role="button"  style="margin-top:20px;">Start Video</a>
                    </div>
                    <div class="tpaddingdiv2"></div> 
                </div>
            </div>
        </div>
        </div>
	</div>
<!--end_1st_video_div-->   
        <!--2nd_video_code-->
        <div class="bgcolorwhite displaydivnone" style="height:500px; padding:10px;" id="videosecond">
            <div class="allpaddingdivlogotop bgcolorwhite borderradiusdivtop2">
                <div class="tbpaddingdiv1 textaligncenterdiv">
                    <img src="image/w5biglogo.png" border="0" name="w5desi" class="positionabsolute leftsidedivfiftyone">
                </div>
            </div>
            <div class="bgcolorlightsblue borderradiusdiv2">
            	<div class="lrtbpaddingdiv1 bottomchatborder colorwhite">
                	<div class="fl tbpaddingdiv2">
                    	<div class="rpaddingdiv1 fl">
                        	<img src="image/popupicon/video.png" border="0" name="chaticon" />
                        </div>
                        <div class="fl fontssizediv9 headdingfonts tpaddingdiv1">
                        	Video
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="tbpaddingdiv2 fr" onclick="showvideobox1()" id="closecall">
                    	<a href="#" class="textdecorationnone">
                    	<div class="rpaddingdiv1 fl">
                        	<!--<img src="image/popupicon/stop.png" border="0" name="chaticon" />-->
                        </div>
                        <div class="fl fontssizediv9 headdingfonts tpaddingdiv1">
                        	End Video
                        </div>
                        <div class="clear"></div>
                        </a>
                    </div>
                    <div class="clear"></div>
                </div>
                
                <div class="totalaligndiv tblrpaddingdiv1">
                    <div class="totalaligndiv">
                        <!--video_calling_div-->
                        	<div class="totalaligndiv">
                        	<div class="videowidthdivlargenew">
                                <div class="showpopvideodivwidth2">
                                	<div class="bgcolorlightgray">
                                    <div class="showpopcanvasnewsdivnewbig2 backgroundimagecover" id="writeText">
                                    <div class="big-video"></div>
                                    	<div class="large-12 positionabsolute">
                                        	<div class="allpaddingdiv1">
                                                <div class="fr">
                                                	<div class="tpaddingdiv1">
                                                    	<div class="smalllpaddingdiv1 fl">
                                                        	<img src="image/popupicon/volume.png" border="0" name="W5rtc" class="cursorpointerdiv" />
                                                        </div>
                                                        <div class="smalllpaddingdiv1 fl">
                                                        	<img src="image/popupicon/play.png" border="0" name="W5rtc" class="cursorpointerdiv" />
                                                        </div>
                                                        <div class="smalllpaddingdiv1 fl">
                                                        </div>
                                                        <div class="clear"></div>
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                                    
                                    <div class="showpopimageshadowdiv singleleftrightmargin fr" style="margin-right:9px; position:absolute; bottom:10px; right:0px;">
                                    <div style="width:200px;height:30px; background-color:#D8D8C5;position:absolute;float:left;margin-top:60px;margin-left:-220px; display:none;" id="incomingVideo">
                                            
                                   <div id="right"><img src="image/correct.png" style="margin-top:1px;position:absolute;margin-left:0px;"></div>
                                       <div id="wrong"><img src="image/cross.png" style="margin-top:4px;position:absolute;margin-left:30px;"></div>
                                        <div style="margin-top:6px;position:absolute;margin-left:70px;"><font style="font-size:16px;color:000;font-family:Times New Roman, Georgia, Serif;"><b>Incoming Call</b></font></div>
                                    </div>         
                                    	<div class="showpopvideodivwidth1">
                                        	<div class="bgcolorwhite">
                                                <div class="showpopcanvasnewsdivnewbig4 backgroundimagecover bordergray">
                                                	<div class="small-video"></div>
                                                    
                                            <div class="bgvideocolor1 large-12 positionabsolute">
                                             
                                            <div class="totalaligndiv">
                                                <div class="rpaddingdiv1 fr">
                                                    <div class="smalltbpaddingdiv1">
                                                        <div class="fl smalllpaddingdiv1">
                                                            <img src="image/popupicon/volume.png" border="0" name="W5rtc" class="cursorpointerdiv" height="12" />
                                                        </div>
                                                        <div class="fl smalllpaddingdiv1">
                                                            <img src="image/popupicon/play.png" border="0" name="W5rtc" class="cursorpointerdiv" height="12" />
                                                        </div>
                                                        <div class="fl smalllpaddingdiv1"></div>
                                                        <div class="clear"></div>
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                        <!--end_video_calling_div-->
                    </div>
                </div>
            </div>
        </div>
        <!--end_2nd_video_code-->
        
        
        </div>
    </div>
</div>
<script src="js/RTC/mainvideo.js"></script>
<script src="js/RTC/getmediaelement.js"></script>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script>
window.onload=function(){ 
	jQuery.ajax({
	url: "https://w5capi-cdn.w5rtc.com/capi?key="+document.capikey+'&v=1.3', dataType: "script",
	success: function(){videoCall();}
	});
}

</script>
</body>
</html>
